@model Sales.Common.Models.Articulos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PVP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PVP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlata)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CodProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
